@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}


/* Card Styling */
.card {
    max-width: 30%;
    border: solid 1px;
    margin: 20px;
    padding: 10px;

    /* the above is the initial styling for a card */
    /* comment the final styling in later */
}

.card img {
    width: 100%;
}

/* Grid Container styling w media queries */
.recipe-container{
    display :grid;
}

.recipe-details-container {
    display: grid;
}